In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import networkx as nx

In [4]:
from scipy import sparse

# Pandas

In [5]:
!head datasets/en-wikipedia.humans.ungraph.names.txt

# Node names
# NodeId NodeName
0	Alexander Seton (d. 1332)
31	Ularbek Baitailaq
108	Albert P. Forsythe
159	Luca Segantini
171	Jacques Moeschal (architect)
172	Jacques Moeschal (footballer)
174	Fred Armstrong (mayor)
185	James Williamson (priest)

In [6]:
df_nodes = pd.read_csv("datasets/en-wikipedia.humans.ungraph.names.txt", comment="#", delimiter="\t", names=["id", "name"])

In [7]:
df_nodes.head()

    id                          name
0    0     Alexander Seton (d. 1332)
1   31             Ularbek Baitailaq
2  108            Albert P. Forsythe
3  159                Luca Segantini
4  171  Jacques Moeschal (architect)

In [8]:
!head datasets/en-wikipedia.humans.ungraph.txt

# Directed graph: ../datasets/en-wikipedia.humans.ungraph.txt
# Nodes: 1014428 Edges: 3923957
# FromNodeId	ToNodeId
185	186
185	191
186	185
186	187
187	186
187	188
188	187

In [9]:
df_edges = pd.read_csv("datasets/en-wikipedia.humans.ungraph.txt", comment="#", delimiter="\t", names=["id", "src", "dst"])

In [10]:
df_edges.head()

    id  src  dst
0  185  186  NaN
1  185  191  NaN
2  186  185  NaN
3  186  187  NaN
4  187  186  NaN

In [11]:
!head datasets/en-wikipedia.humans.ungraph.features.txt

# Node features
# NodeId FeatureList
0	758752
31	758758 758772
108	50 91 138 479 554 861 1668 3405 6387 11242 12041 19378 20462 39172 55878 66377 143837 187927 203505 367505
159	283447
171	67
172	1 67 1418 2456 9781 19864 229996
174	28508
185	35535

In [12]:
df_features = pd.read_csv("datasets/en-wikipedia.humans.ungraph.features.txt", comment="#", delimiter="\t", names=["id", "features"])

In [13]:
df_features.head()

    id                                           features
0    0                                             758752
1   31                                      758758 758772
2  108  50 91 138 479 554 861 1668 3405 6387 11242 120...
3  159                                             283447
4  171                                                 67

In [14]:
df_features["features"] = df_features.features.str.split(" ")

In [15]:
df_features.head()

    id                                           features
0    0                                           [758752]
1   31                                   [758758, 758772]
2  108  [50, 91, 138, 479, 554, 861, 1668, 3405, 6387,...
3  159                                           [283447]
4  171                                               [67]

In [16]:
!head datasets/en-wikipedia.humans.ungraph.features.names.txt

# Node feature names
# FeatureId FeatureName
0	United States
1	Association football
2	England
3	Germany
4	World War II
5	London
6	France
7	United Kingdom

In [17]:
df_features_names = pd.read_csv("datasets/en-wikipedia.humans.ungraph.features.names.txt", comment="#", delimiter="\t", names=["id", "name"])

In [18]:
df_features_names.head()
pd.read_csv("datasets/")

   id                  name
0   0         United States
1   1  Association football
2   2               England
3   3               Germany
4   4          World War II

# NetworkX

In [19]:
graph = nx.read_edgelist("datasets/en-wikipedia.humans.ungraph.txt", comments="#", delimiter="\t")

In [20]:
df_graph = pd.read_csv("datasets/en-wikipedia.humans.ungraph.features.txt", comment="#", delimiter="\t", names=["id", "features"])

In [21]:
df_graph.head()

    id                                           features
0    0                                             758752
1   31                                      758758 758772
2  108  50 91 138 479 554 861 1668 3405 6387 11242 120...
3  159                                             283447
4  171                                                 67

In [22]:
df_graph["features"] = df_graph.features.str.split(" ")

In [23]:
def f(l):
    return map(lambda i:df_features_names.iloc[i].values[1], l)
print(f([758758, 758772]))

['Altyn Tamyr', 'DAT (newspaper)']

In [24]:
#df_graph["features"] = df_graph["features"].apply(print)

SyntaxError: invalid syntax (<ipython-input-24-f3e6f3eae8f3>, line 1)

In [25]:
df_features_names.iloc[758752].values[1]

'Battle of Wester Kinghorn'

In [26]:
print(nx.info(graph))

Name:
Type: Graph
Number of nodes: 731293
Number of edges: 3266258
Average degree:   8.9328

to_select = list()
for node in graph:
    if graph.degree(node) > 200:
        to_select.append(node)

In [29]:
to_select = list()
for node in graph:
    if graph.degree(node) > 50:
        to_select.append(node)

In [30]:
len(to_select)

16269

In [31]:
subgraph = nx.subgraph(graph, to_select)

In [32]:
print(nx.info(subgraph))

Name:
Type: SubGraph
Number of nodes: 16269
Number of edges: 287236
Average degree:  35.3108

In [33]:
for node in subgraph:
    name = df_nodes[df_nodes["id"]==int(node)].name.values[0]
    subgraph.node[node]["name"] = name

In [34]:
nx.write_graphml(subgraph, "test.graphml")

# CSR Sparse Matrix

In [ ]:
nodes = list(graph.nodes())

In [ ]:
csr_graph = nx.adj_matrix(graph, nodelist=nodes)

In [ ]:
csr_graph.shape

In [ ]:
csr_graph[0]

In [ ]:
csr_graph[0].indices

In [ ]:
csr_graph[0].data

In [ ]:
node_set = {0, 1, 2, 3}

In [ ]:
vec = np.zeros(len(nodes))

In [ ]:
vec[0] = 1.
vec[1] = 1.
vec[2] = 1.

In [ ]:
np.where(csr_graph * vec)

In [ ]:
list(graph.neighbors(nodes[0]))